{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Quote</h1>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form action="/quote" method="post">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock Symbol" type="text" required="required">
        <br>
        <button class="btn btn-primary" type="submit">Search for Stock Symbol</button>
    </form>
{% endblock %}
