{% extends "layout.html" %}

{% block title %}Character Creator{% endblock %}

{% block header %}Character Creator{% endblock %}

{% block main %}
    <p>This is the character creator.</p>
    
    {% if not new_pc.name %}
        <form action="/character_creator" method="POST" class="form-control mx-auto w-auto">
            <div class="row g-3">
                <div class="col">
                    <input autocomplete="off" autofocus class="form-control w-auto" id="character_name" name="character_name" placeholder="Character Name" type="text" value="Bob" required="required">
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
        <!--{% elif not new_pc.race_id or not new_pc.race_id == 0 %}-->

    {% elif not new_pc.race_id %}
        <form action="/character_creator" method="POST" class="form-control mx-auto w-auto">
            <span>Choose race</span>
            <div class="row g-3">
                <div class="col">
                    <select class="form-select" class="form-control w-auto" aria-label="Default select example" name="race_id" id="race_id">
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
        <script>
            const json_dump_races = JSON.parse({{json_dump|tojson}});
            //console.log(json_dump_races[0]["race_id"]);
            //console.log(json_dump_races[0]["race_name"]);
            //console.log(json_dump_races.length)
            for (let i = 0; i < json_dump_races.length; i++) {
                let race_dropdown = "<option value=\"" + json_dump_races[i]["race_id"] + "\">" + json_dump_races[i]["race_name"] + "</option>"
                document.getElementById("race_id").insertAdjacentHTML("beforeend",race_dropdown)
            }
        </script>
        racist soup

    {% elif not new_pc.class_id %}
        <form action="/character_creator" method="POST" class="form-control mx-auto w-auto">
            <span>Choose class</span>
            <div class="row g-3">
                <div class="col">
                    <select class="form-select" class="form-control w-auto" aria-label="Default select example" name="class_id" id="class_id">
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
        <script>
            const json_dump_classes = JSON.parse({{json_dump|tojson}});
            for (let i = 0; i < json_dump_races.length; i++) {
                let race_dropdown = "<option value=\"" + json_dump_races[i]["class_id"] + "\">" + json_dump_races[i]["class_name"] + "</option>"
                document.getElementById("class_id").insertAdjacentHTML("beforeend",race_dropdown)
            }
        </script>
        classist soup

    {% elif not new_pc.background_id %}
        <form action="/character_creator" method="POST" class="form-control mx-auto w-auto">
            <span>Choose background</span>
            <div class="row g-3">
                <div class="col">
                    <select class="form-select" class="form-control w-auto" aria-label="Default select example" name="background_id" id="background_id">
                    </select>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        <script>
            const json_dump_backgrounds = JSON.parse({{json_dump|tojson}});
            for (let i = 0; i < json_dump_races.length; i++) {
                let race_dropdown = "<option value=\"" + json_dump_races[i]["background_id"] + "\">" + json_dump_races[i]["background_name"] + "</option>"
                document.getElementById("class_background_idid").insertAdjacentHTML("beforeend",race_dropdown)
            }
        </script>
        hommade soup

    {% else %}
        <p>DONE!</p>
    {% endif %}
        
    
    
</div>
    bloop
    <!--
    <form>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create new character
        </button>
        <button>Save existing character</button>
    </form>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Modal source: https://getbootstrap.com/docs/5.3/components/modal/
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    -->
{% endblock %}

{% block footer %}{% endblock %}