{% extends "layout.html" %}

{% block title %}Character Creator{% endblock %}

{% block header %}Character Creator{% endblock %}

{% block main %}
    <p>This is the character creator.</p>
    
    {% if not new_pc.name %}
        <p> We need a name </p>

    {% elif not new_pc.race_id %}
        <p> We need a race </p>

    {% elif not new_pc.class_id %}
        <p> We need a class </p>

    {% elif not new_pc.background_id %}
        <p> We need a background </p>

    {% else %}
        <p>DONE!</p>
        
    {% endif %}

{% endblock %}

{% block footer %}{% endblock %}