{% extends "layout.html" %}

{% block title %}Load Character{% endblock %}

{% block header %}Load Character{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Race</th>
        <th scope="col">Class</th>
      </tr>
    </thead>
    <tbody>
        {% if user_list_characters != [] %}
        {% for item in user_list_characters %}
        <tr>
            <td>{% user_list_characters %}
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>


{% endblock %}

{% block footer %}{% endblock %}